# Table of Contents
 <p><div class="lev1"><a href="#Import-pandas,-numpy,-matplotlib-and-seaborn"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas, numpy, matplotlib and seaborn</a></div><div class="lev1"><a href="#Create-a-Series-object,-access-it's-index-and-cells"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a Series object, access it's index and cells</a></div><div class="lev1"><a href="#Create-a-DataFrame-object,-access-its-rows,-columns,-indices,-cells"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a DataFrame object, access its rows, columns, indices, cells</a></div><div class="lev1"><a href="#Data-Import"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Import</a></div><div class="lev1"><a href="#DataFrame-filtering"><span class="toc-item-num">5&nbsp;&nbsp;</span>DataFrame filtering</a></div><div class="lev1"><a href="#Data-export"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data export</a></div><div class="lev1"><a href="#DataFrame-aggregation"><span class="toc-item-num">7&nbsp;&nbsp;</span>DataFrame aggregation</a></div><div class="lev1"><a href="#Data-Merging"><span class="toc-item-num">8&nbsp;&nbsp;</span>Data Merging</a></div>

This notebook is to quickly repeat the most basic pandas operations prior to starting the practical course.
You should be able to quickly perform the following tasks before you start working on the exercises in the Day1 notebook. If you need to look up, how certain problems can be solved, have a look at the pandas [10 Minutes Introduction](http://pandas.pydata.org/pandas-docs/stable/10min.html), the [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) and the lecture slides.

And here is a source for [Jupyter keyboard shortcuts](https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/) to help you format the notebooks in an efficient way.

# Import pandas, numpy, matplotlib and seaborn

In [1]:
# this will enable some additional autocompletion using the tab button

%config IPCompleter.greedy=True

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create a Series object, access it's index and cells

Create a Series object representing the following measurements

| S   |
|-----|
| 1.0 |
| 1.5 |
| 3.0 |
| 4.3 |
| 8.2 |

In [3]:
pd.Series([1.0,1.5,3.0,4.3,8.2])

0    1.0
1    1.5
2    3.0
3    4.3
4    8.2
dtype: float64

# Create a DataFrame object, access its rows, columns, indices, cells

Create a dataframe of the following table.

|index   |a |b  |c   |d          |e |
|--------|--|---|----|-----------|--|
|1       |2 |3  |5.  |horse      |13|
|2       |3 |1  |1.4 |cat        |11|
|3       |4 |9  |1.2 |dog        |  |
|4       |5 |12 |0.8 |tortoise   |  |
|5       |6 |2  |2.3 |rabbit     |9 |

Now
* access the values of each row individually
* access single cells
* print the index and column names
* access values of each column individually
* rename columns
* extract rows 2-4 as new dataframe
* obtain summary table of dataframe

In [13]:
# preferably add a code block for each operation (e.g. by selecting a cell and pressing B on the keyboard)
index = np.arange(1,6)
df = pd.DataFrame({'a':np.arange(2,7),
                  'b':np.array([3,1,9,12,2]),
                   'c':np.array([5.,1.4,1.2,0.8,2.3]),
                   'd':np.array(['horse', 'cat', 'dog','tortoise', 'rabbit']),
                   'e':np.array([13,11,np.NaN ,np.NaN ,9])}, index = index)
df

   a   b    c         d     e
1  2   3  5.0     horse  13.0
2  3   1  1.4       cat  11.0
3  4   9  1.2       dog   NaN
4  5  12  0.8  tortoise   NaN
5  6   2  2.3    rabbit   9.0

In [40]:
#access values of rows
for i in range(1,6):
    print(df.loc[i])

a        2
b        3
c        5
d    horse
e       13
Name: 1, dtype: object
a      3
b      1
c    1.4
d    cat
e     11
Name: 2, dtype: object
a      4
b      9
c    1.2
d    dog
e    NaN
Name: 3, dtype: object
a           5
b          12
c         0.8
d    tortoise
e         NaN
Name: 4, dtype: object
a         6
b         2
c       2.3
d    rabbit
e         9
Name: 5, dtype: object

In [41]:
#access single cells
print(df.loc[3,'c'])
#same cell using iloc
print(df.iloc[2,2])
#another cell
print(df.loc[2,'d'])

1.2
1.2
cat

In [30]:
#Print index and column names
print('Index:', df.index)
print('Columns:',df.columns)

Index: Int64Index([1, 2, 3, 4, 5], dtype='int64')
Columns: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [45]:
#Print columns
print('Column c:\n', df.loc[:,'c'])
print('Column a:\n', df.loc[:,'a'])

Column c:
 1    5.0
2    1.4
3    1.2
4    0.8
5    2.3
Name: c, dtype: float64
Column a:
 1    2
2    3
3    4
4    5
5    6
Name: a, dtype: int32

In [46]:
#Rename
df.rename(columns = {'a':'Moin', 'd':'Tach'})

   Moin   b    c      Tach     e
1     2   3  5.0     horse  13.0
2     3   1  1.4       cat  11.0
3     4   9  1.2       dog   NaN
4     5  12  0.8  tortoise   NaN
5     6   2  2.3    rabbit   9.0

In [49]:
#Extract rows 2 - 4 as df
df[1:4]

   a   b    c         d     e
2  3   1  1.4       cat  11.0
3  4   9  1.2       dog   NaN
4  5  12  0.8  tortoise   NaN

# Data Import

Import the following file into a dataframe _df2_:

Integrated_Bioinformatics/example_data/example_df.csv

In [27]:
pd.read_csv('../example_data/example_df.csv')

   a   b    c         d     e
0  2   3  5.0     horse  13.0
1  3   1  1.4       cat  11.0
2  4   9  1.2       dog   NaN
3  5  12  0.8  tortoise   NaN
4  6   2  2.3    rabbit   9.0

Now import the following file into a pandas dataframe as _df3_. Do you need to change some parameters of the funtion?
Check whether the import makes sense by showing the dataframe

Integrated_Bioinformatics/example_data/example_df2.csv

# DataFrame filtering
Using the dataframe created in section 3:

* select rows containing values greater than 2 in the 3rd column
* select rows that contain values greater than 2 in the 3rd column or 'cat' in the 4th column
* drop rows with missing data
* drop duplicate rows
* drop 1st column from dataframe
* sort rows by 2nd column
* convert Strings in 4th column to title-case

# Data export

Export your filtered dataframe as a text file separated by tabs omitting the index column.

# DataFrame aggregation

Read in df4 from IntegratedBioinformatics/example_data/df4.csv

Using _df4_, group the data by column 'b'. Test different ways of aggregating the remaining columns as shown in the lecture.

# Data Merging

* Merge df3 with df4 on columns c, d and e. Change columns with same names in a meaningful way.

* Now perform a full outer join of the data, to keep all rows contained in either of the two dataframes.